body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    background-color: #000;
}
    *,
    *:before,
    *:after{
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5, h6{
        margin: 0;
    }
/* Slaider */

html {
  scroll-behavior: smooth;
}

    /* Container */
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

/* Intro */
.regiter {
    color: #ffffff;
}
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;

    }

    .intro__inner {
        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        text-align: center;

    }

    .intro__suptitle{
        margin-bottom: 20px;


        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        color: #fff;
    }
    .intro__title{
        color: #fff;
        font-size: 150px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
    }

    .intro__title:after{
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        margin: 60px auto;

        background-color: #000;
    }

    /* Header */
    .header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .header__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__logo{
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }

    /* Nav */
    .nav{
        font-size: 14px;
        text-transform: uppercase;
    }

    .your_name {
                display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color 0.2s linear;
    }
    .nav__link{
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color 0.2s linear;
    }

    .nav__link:after{
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        display: none;

        background-color: #fce38a;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
    }

    .nav__link:hover {
        color: #fce38a;
    }

    .nav__link:hover:after,
    .nav__link.active:after {
        display: block;
    }

    .nav__link.active{
        color: #fce38a;

    }

    /* Btn */

    .btn{
        display: inline-block;
        vertical-align: top;
        padding: 8px 30px;

        border: 3px solid #fff;

        font-size: 13px;
        font-weight: 700;
        color: #fff;

        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        transition: background .3s linear,
        color .3s linear;
    }

    .btn:hover{
        background-color: #fff;
        color: #333
    }

    /* Slider */
    .slider{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .slider__item{
        width: 23%;
        padding: 20px 0;
        position: relative;

        border-top: 3px solid #fff;
        opacity: .7;

        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
    }

/* decoration item */
.decoration__item{

        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color 0.2s linear;
}

.decoration__item:after{
       content: "";
        display: block;
        width: 100%;
        height: 3px;
        display: none;

        background-color: #fce38a;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
}
.decoration__item:hover {
        color: #fce38a;
    }
.decoration__item:hover:after{
        display: block;
    }
/* Decor Razer */

.decoration__item__Razer:after{
       content: "";
        display: block;
        width: 100%;
        height: 3px;
        display: none;

        background-color: #00ff04;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
}
.decoration__item__Razer{

        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color 0.2s linear;
}
.decoration__item__Razer:hover {
        color: #00ff04;
    }
    .decoration__item__Razer:hover:after{
        display: block;
    }
/* Decor HyperX */
.decoration__item__HyperX:after{
       content: "";
        display: block;
        width: 100%;
        height: 3px;
        display: none;

        background-color: #ff0000;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
}
.decoration__item__HyperX{

        display: inline-block;
        vertical-align: top;
        margin: 0 auto;
        position: relative;

        color: #fff;
        text-decoration: none;

        transition: color 0.2s linear;
}
.decoration__item__HyperX:hover {
        color: #ff0000;
    }
    .decoration__item__HyperX:hover:after{
        display: block;
    }
/*       Slider          */


    .slider__num {
        font-size: 24px;
        font-weight: 700;

    }

/* Section */

    .section {
        padding: 80px 0;
        background-size: cover;

    }

    .section__header {
        width: 100%;
        max-width: 950px;
        margin: 0 auto 40px;
        text-align: center;
    }

    .section__suptitle {
        font-family: 'Kaushan Script', cursive;
        font-size: 50px;
        color: #00ff44;
    }

    .section__title {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .section__title:after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        margin: 30px auto;
        background-color: #00ff44;

    }

    .section__text {
        font-size: 20px;
        color: #fff;
    }

    .about {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }
/* first */
    .about__item {
        width: 380px;
        position: relative;

        background-color: #b30599;
    }

    .about__item:hover .about__img {
        transform: translate3d(-10px, -10px, 0);
    }
    .about__item:hover .about__text {
        opacity: 1;
    }

    .about__item:hover .about__img img{
        opacity: .5;
    }

    .about__img {
        background: linear-gradient(to bottom, #ff45fc, #0c03ad);

        transition: transform .2s;
    }

    .about__img img {
        display: block;
        transition: opacity .1s linear;
    }

    .about__text {
        width: 100%;

        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate3d(0, -50%, 0);

        transition: opacity.2s linear;
    }

/* Second */
    .about__item__second {
        width: 380px;
        position: relative;
        background-color: #00ffc3;
    }

    .about__item__second:hover .about__img__second {
        transform: translate3d(-10px, -10px, 0);
    }
    .about__item__second:hover .about__text{
        opacity: 1;
    }

    .about__item__second:hover .about__img__second img{
        opacity: .5;
    }

    .about__img__second {
        background: linear-gradient(to bottom, #34eb46, #315dd6);

        transition: transform .2s;
    }

    .about__img__second img {
        display: block;
        transition: opacity .1s linear;
    }


/*Third*/
    .about__item__third {
        width: 380px;
        position: relative;

        background-color: #e32929;
    }

    .about__item__third:hover .about__img__third {
        transform: translate3d(-10px, -10px, 0);
    }
    .about__item__third:hover .about__text{
        opacity: 1;
    }

    .about__item__third:hover .about__img__third img{
        opacity: .5;
    }

    .about__img__third {
        background: linear-gradient(to bottom, #ff00d9, #ff0000);

        transition: transform .2s;
    }

    .about__img__third img {
        display: block;
        transition: opacity .1s linear;
    }
