<!Doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Basket.css' %}">
    <script src="http://kit.fontawesome.com/b8991598b2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">

</head>
<body>
    <header class="hui">
<!--        <img class="hui" src="{%static 'images/IntroKeyboard.jpg'%}" alt=" ">-->
            <div class="navigator">
        <div class="logo">MoGo</div>
        <div class="menu">
            <ul class="nav">
                <li><a class="link" href="/">Home</a></li>
                <li><a class="link" href="razer/audio">Headset</a></li>
                <li><a class="link" href="razer/keyboard">Keyboard</a></li>
                <li><a class="link" href="razer/mice">Gaming Mouse</a></li>

            </ul>
            <ul class="nav icon">
                <li><a class="link" href="#"><i class="fas fa-search"></i></a></li>
                <li><a class="link" href="#"><i class="fas fa-shopping-cart"></i></a></li>
                <li><a class="link" href="accounts/login"><i class="fas fa-user"></i></a></li>
            </ul>

        </div>
    </div>

        <div class="description">
            <h1>About MoGo</h1>
            <p>
                Мы — креативная студия из Киева. Мы создаем яркий и эмоциональный
                дизайн для сайта по продаже брендов
                Для сайта Razer та HyperX, был разработан доходчивый дизайн,
                отображающий суть предоставляемых услуг
                Мы в потоке и знаем, как завладеть вниманием современной аудитории
                Давайте сделаем это для вашего бренда!

            </p>
            <br>
            <a href="#" class="shop">Buy now</a>
        </div>

        <div class="end-head">
            <div class="post-navigation">
                <ul class="social">
                    <li><a class="link" href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="link" href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="link" href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="link" href="#"><i class="fab fa-tumblr-square"></i></a></li>
                </ul>
                <ul class="post-nav">
                    <li><a class="link" href="#">Конфиденциальноость</a></li>
                    <li><a class="link" href="#">Грантии</a></li>
                    <li><a class="link" href="#">Поддержка</a></li>
                    <li><a class="link" href="#">Клнтакты</a></li>
                </ul>
            </div>
        </div>
    </header>


</body>
</html>