<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Keyboard.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <title>Mouse</title>
</head>
<body>

<header class="header" id="myHeader">

    <div class="container">
        <div class="header__inner">
            <div class="header__logos">MoGo</div>

            <nav class="nav">
                <a class="nav__link active" href="/">Home</a>
                <a class="nav__link" href="#">About</a>
                <a class="nav__link" href="#">Service</a>
                <a class="nav__link" href="#">Team</a>
            </nav>
        </div>
    </div>
</header>
<div class="content">
 {% for info in all_info %}
    <div class="intro">
        <img align="bottom" src="/media/{{ info.Image }}" style="width:100%; height: 100%;" >
        <div class="sad">
            <div class="header__logo">{{ info.Name }}</div>
            <a class="buy" href="#">
                Подробнее
            </a>
        </div>
    </div>
{% endfor %}
</div>

<script>

window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
</body>
</html>
